on:
  pull_request:
    branches:
      - '*'
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.3.2
          poetry build
          poetry install

      - name: Build coverage file
        run: |
          poetry run pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=pskcontext tests/ | tee pytest-coverage.txt
  test-ubuntu:
    needs: coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-22.04", "ubuntu-20.04"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.3.2
          poetry install --no-root
          poetry run conan profile detect
          poetry run conan install --requires openssl/3.0.8 --build=missing -o openssl/*:shared=True -of build
          source build/conanbuild.sh
          source build/conanrun.sh
          poetry build
          poetry install
      - name: Run pytest
        run: |
          export PSKCONTEXT_EXPECTED_OPENSSL_VERSION=3.0.8
          source build/conanbuild.sh
          source build/conanrun.sh
          poetry run pytest
  test-windows:
    needs: coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ "windows-latest" ]
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.3.2
          poetry install --no-root
          poetry run conan profile detect
          poetry run conan install --requires openssl/3.0.8 --build=missing -o openssl/*:shared=True -of build
#          poetry build
#          poetry install
      - name: Get list of rules
        shell: pwsh
        run: |
          Get-ChildItem -Recursive
